@import "tailwindcss";

@layer utilities {
  @keyframes slide-up {
    0% { opacity: 0; transform: translateY(40px); }
    100% { opacity: 1; transform: translateY(0); }
  }

  .animate-slide-up {
    animation: slide-up 1.2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@layer base {
  button {
    font-family: var(--font-prompt), sans-serif !important;
  }
}

@theme {
  --font-sans: var(--font-prompt), ui-sans-serif, system-ui, sans-serif;
}